set -o errexit
set -o nounset

echo ---
export COMMIT_MESSAGE="$(git log -1 --pretty=format:%B | tr -d '\n')"
echo COMMIT_MESSAGE="${COMMIT_MESSAGE}"
export DEFAULT_BRANCH="main"
echo DEFAULT_BRANCH="${DEFAULT_BRANCH}"

echo Setting git hooksPath to .githooks
chmod +x .githooks/pre-push
git config core.hooksPath .githooks

echo Setting git commit.template to .git-commit-template
git config commit.template .git-commit-template

use flake

watch_file nix/*
watch_file nix/*/*
watch_file nix/*/*/*


export PATH="${PATH}:${HOME}/.bin"
